body {
  font-family: 'Comic Sans MS', Arial, sans-serif; 
  text-align: center;
  padding: 30px;
  background: #fffbe6; 
  color: #333;
}
nav {
  margin-bottom: 25px;
  background-color: #ffe066;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #ccc;
}

nav a {
  text-decoration: none;
  color: #ffzd6z; 
  font-weight: bold;
  margin: 0 20px;
  transition: transform 0.2s, color 0.2s; 
}

nav a:hover {
  text-decoration: underline;
  color: #4d79ff;
  transform: scale(1.2); 
}
img {
  border-radius: 75%; 
  margin: 25px 0;
  width: 300px;
  transition: transform 0.3s;
}

img:hover {
  transform: rotate(-180deg) scale(20); 
}

h1, h2, h3 {
  font-family: 'Comic Sans MS', Arial, sans-serif;
  color: #ff6600; 
}

p {
  line-height: 1.6;
  font-size: 1.1em;
}
